<div class="container">
  <div class="col-md-10">
    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?t=m&amp;sll=28.6424117,77.1777854&amp;sspn=0.0072315,0.0109864&amp;q=Rajendra+Place+Metro+Station&amp;cid=0xf368f81a54b79871&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;iwloc=A&amp;ll=28.642504,77.178151&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?t=m&amp;sll=28.6424117,77.1777854&amp;sspn=0.0072315,0.0109864&amp;q=Rajendra+Place+Metro+Station&amp;cid=0xf368f81a54b79871&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;iwloc=A&amp;ll=28.642504,77.178151&amp;spn=0.006295,0.006295&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
  <div class="col-md-2" style="border:1px solid grey; min-height:350px">
    Manage Locations
  </div>  
</div>  
    